# Runtime
pyspark==3.5.9
pyyaml==6.0.2
requests==2.32.3
pyarrow==18.1.0
psycopg[binary]==3.2.3
pandas==2.2.3
numpy==2.2.1
scikit-learn==1.6.1
joblib==1.4.2
torch==2.5.1
# Dev
pytest==8.3.4
pytest-cov==6.0.0
ruff==0.9.6
black==25.1.0
mypy==1.14.1
